CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_EFI_IMAGES=y
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_PACKAGE_subconverter=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_luci-theme-edge=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-vssr=y
CONFIG_PACKAGE_luci-app-bypass=y
CONFIG_PACKAGE_luci-app-dnsfilter=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
